@model WebAPI.Models.Documentation.DocumentationModel

@{
    ViewData["Title"] = "Index";
}

<div>
    <h1 class="text-center">@Model.Title</h1>
    <hr />
    <dl class="row">
        <dt class="col-12 text-center">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class="col-12 text-center">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class="col-12 text-center">
            @Html.DisplayNameFor(model => model.BattlemapRoute)
        </dt>
        <dd class="col-12 text-center">
            @Html.DisplayFor(model => model.BattlemapRoute)
        </dd>
    </dl>
    <div class="instructions">
        <h3 class="text-center">Instruction List</h3>
        @await Html.PartialAsync("InstructionList", Model.Instructions)
    </div>
    <div class="invocations">
        <h3 class="text-center">Invocation List</h3>
        @await Html.PartialAsync("InvocationList", Model.Invocations)
    </div>
    <div class="receive-methods">
        <h3 class="text-center">Receive Method List</h3>
        @await Html.PartialAsync("ReceiveMethodList", Model.ReceiveMethods)
    </div>
    <h2>Notes</h2>
    <ul class="notes">
        @foreach (var note in Model.Notes)
        {
            <li>@note</li>
        }
    </ul>
</div>
