@model WebAPI.Models.Documentation.DocumentationModel

@{
    ViewData["Title"] = "Index";
}

<div>
    <h4>Battlemap Documentation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BattlemapRoute)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BattlemapRoute)
        </dd>
    </dl>
    <div class="instructions">
        @await Html.PartialAsync("InstructionList", Model.Instructions)
    </div>
    <div class="invocations">
        @await Html.PartialAsync("InvocationList", Model.Invocations)
    </div>
    <div class="invocations">
        @await Html.PartialAsync("ReceiveMethodList", Model.ReceiveMethods)
    </div>

    <ul class="notes">
        @foreach (var note in Model.Notes)
        {
            <li>@note</li>
        }
    </ul>
</div>
